body {
    margin: 0 0 0 0;
    background-image: radial-gradient(#ff005c,#300034);
    font-family: 'Lato', sans-serif;
    background-size: auto;
}

h1 {
    color: white;
}

footer {
    color: #09ff83;
}

a {
    text-decoration: none;
    color: #09ff83;
}

a:hover {
    text-decoration: none;
    color: #09ff844b;
}

.border {
    border: 1px solid #09ff83!important;
}

#questionsContainer {
    border-color: #09ff83;
    
}

#questionBox {
    background-color: #37003c;
    color: white;
}

#questionInput {
    color: #09ff83;
}

#playerButtonsRow {
    background-color: white;
}

#scoreRow {
    background-color: #37003c;
    color: #09ff83;
}

