<html>
    <head>

    </head>
    <body>
        <h1>
            INDEX PAGE
        </h1>
        <hr>
        <h3>Players</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Added</th>
            </tr>
            {% for player in player_list %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.player_firstname }}</td>
                <td>{{ player.player_lastname }}</td>
                <td>{{ player.date_added }}</td>
            </tr>
            {% endfor %}
        </table>
        <h3>Season</h3>
        <table>
            <tr>
                <th>ID</th>
                <th>Start Year</th>
                <th>Date Added</th>
            </tr>
            {% for season in season_list %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.season_year }}</td>
                <td>{{ season.date_added }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>