body {
    margin: 0 0 0 0;
    background-image: radial-gradient(#ff005c,#300034);
    font-family: 'Lato', sans-serif;
    background-size: auto;
}

h1 {
    color: white;
}

footer {
    color: white;
}


#questionsContainer {
    border-color: #09ff83;
}

#questionBox {
    background-color: #37003c;
    color: white;
}

#playerButtonsRow {
    background-color: #09ff83;
}

#scoreRow {
    background-color: #37003c;
    color: white;
}

